@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply antialiased appearance-none font-semibold inline-block leading-normal px-5 py-3 relative rounded text-white tracking-wider transition-colors uppercase duration-500 ease-out bg-purple mt-8 my-auto text-sm;
}

.btn:hover {
  @apply bg-base-600 text-white;
  cursor: pointer;
}

.form-input,
.form-textarea {
  @apply block mt-1 px-3 py-2 rounded w-full h-auto;
}

input[type="file"] {
  cursor: pointer;
  width: initial;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer; 
}

button:hover {
  cursor: pointer;
}

.preview-image {
  margin: 1rem 0;
  height: 4rem;
  width: 4rem;
}

.preview-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-cell {
  height: 3rem;
  width: 2rem;
}

.img-cell img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
